{% extends "layout.html" %}

{% block body %}
<div class="parent-container">
  <form id="add-client-form" onsubmit="submitForm(event)">
    <h1 id="add-client-title">Add a Single Client</h1>

    <label for="add-client-nric" class="add-client-label">NRIC:</label>
    <input type="text" id="add-client-nric" name="nric" class="add-client-input" required />

    <label for="add-client-name" class="add-client-label">Client Name:</label>
    <input type="text" id="add-client-name" name="client_name" class="add-client-input" required />

    <label for="add-client-dob" class="add-client-label">Year of Birth (e.g., 1963):</label>
    <input type="text" id="add-client-dob" name="client_dob" class="add-client-input" required />

    <button type="submit" id="add-client-submit">Add Client</button>
  </form>
</div>
{% endblock %}