{% extends "layout.html" %}

{% block body %}

<div class="parent-container">
    <button id="download-transactions" type="button" class="btn btn-success mt-3" onclick="downloadTransactions()">Download Transactions</button>
    <button id="download-transactions" type="button" class="btn btn-success mt-3" onclick="downloadInventory()">Download Inventory</button>
    <button id=""download-transactions" type="button" class="btn btn-success mt-3" onclick="downloadMovements()">Download Inventory Movements</button>
</div>
{% endblock %}