{% extends "layout.html" %}

{% block body %}
<div class="login-bg">
    <div class="login-wrapper">
        <div class="login-logo">
            <img src="/static/images/Logo_Transparent.png" alt="Logo">
        </div>
        <h1 class="login-title">PulsEPOS</h1>

            <hr class="login-divider">

            <!-- Microsoft OAuth2 button -->
            <a href="{{ url_for('auth.mslogin') }}" class="btn-microsoft">
                <img src="/static/images/ms-symbollockup_signin_dark.png" alt="Microsoft Logo" class="ms-logo" />
            </a>
        </div>
    </div>
</div>
{% endblock %}
